.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 75px 0;
}
.imgContainer {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}
.img {
  display: block;
  width: 100%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--border);
  background: var(--Primitive-100);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.iconContainer {
  width: 44px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Stroke, rgba(255, 255, 255, 0.12));
  background: linear-gradient(180deg, #555 0%, #111 100%);
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 50px 0;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
